@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Tilt+Prism&family=Titillium+Web:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    background: black;
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #333;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: orangered;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

@layer base {
    .htmlAndBody {
        width: clamp(1000px, 100%, 1920px);
        height: 100%;
    }

    
}

@layer utilities {

    .prismText {
        font-family: 'Tilt Prism', cursive;
    }

    .techText {
        font-family: 'Share Tech Mono', monospace;
    }

    .mainText {
        font-family: 'Titillium Web', sans-serif;
    }
}

@layer components {

    .appContainerDesktop {
        width: clamp(1000px, 100vw, 1920px);
    }

    .landingContainerDesktop {
        width: clamp(1000px, 100%, 1920px);
    }


    /* Name, Site Logo, and Professional Title */

    .nameTextDesktop {
        font-size: clamp(2.3rem, 3.7vw, 3.5rem);
    }

    .logoContainerDesktop {
        width: clamp(350px, 30vw, 500px);
    }

    .logoDesktop {
        aspect-ratio: auto;
        width: clamp(350px, 30vw, 400px);
    }

    .titleTextDesktop {
        font-size: clamp(1.6rem, 2.4vw, 2.4rem);
    }


    /* Github, Linkdin, Resume links on Landing Page */

    .linksContainerDesktop {
        border: dashed 2px;
        width: clamp(250px, 25vw, 335px);
    }

    .githubLogoDesktop {
        width: clamp(35px, 3.5vw, 45px);
    }

    .linkdinLogoDesktop {
        width: clamp(35px, 3.5vw, 45px);
    }

    .resumeLogoDesktop {
        width: clamp(30px, 3.0vw, 40px);
    }

    .linksTextDesktop {
        font-size: clamp(1.25rem, 2vw, 1.5rem);
    }


    /* Projects and Contact buttons for home page */

    .navContainerDesktop {
        width: clamp(1000px, 100%, 1375px);
        height: clamp(220px, 21vmax, 310px);
    }

    .navBtnContainerDesktop {
        width: clamp(333px, 33vw, 415px);
    }

    .navBtnTextDesktop {
        font-size: clamp(1.7rem, 2.7vw, 2.2rem);
    }

    .navBtnProjectImgDesktop {
        width: clamp(131.6px, 12.5vw, 165px);
        height: initial;
    }

    .navBtnContactImgDesktop {
        width: clamp(120px, 12vw, 155px);
        height: initial;
    }


    /* About Me */
    .aboutMeSectionDesktop {
        width: 550px;
    }
    
    .aboutMeParagraphMobile {
        height: clamp(165px, 45%, 200px);
    }

    .aboutMeTextMobile {
        font-size: clamp(0.75rem, 1.8vh, 1rem);
    }


    /* Nav Bar on other pages */
    .navBarHeightMobile {
        height: clamp(100px, 15%, 105px);
    }

    .navBarPaddingMobile {
        padding-top: clamp(100px, 15%, 125px);
    }

    .homeLinkContainerDesktop {
        width: clamp(245px, 25%, 335px);
    }

    .homeLinkLogoDesktop {
        width: clamp(150px, 60%, 200px);
    }

    .navItemImageProjects {
        height: clamp(70px, 6vmax, 90px);
    }

    .navItemImageContact {
        height: clamp(90px, 7.5vmax, 120px);
    }

    .navItemText {
        font-size: clamp(1.4rem, 2vw, 1.7rem);
    }

    .linksSectionWrapper {
        width: clamp(310px, 30%, 375px);
    }

    .allLinksContainer {
        width: clamp(290px, 95%, 345px);
        height: clamp(92px, 9vmax, 115px);
    }

    .linkContainer {
        width: clamp(90px, 33%, 115px);
    }

    .linksLogosDesktop {
        width: clamp(30px, 33%, 42px);
    }



    /* Contact Form */
    .firstFourInputsSizeDesktop {
        font-size: clamp(1.2rem, 1.8vw, 1.6rem);
    }

    .textAreaInputSizeDesktop {
        font-size: clamp(1.2rem, 1.9vw, 1.875rem);
    }
    
    .inputTextColorEffect {
        color: #ecfeff;
        text-shadow: #56f1ff 1px 0 10px;
    }

    .inputPlaceholderColorEffect {
        color: #ecfeff;
        text-shadow: none;
    }

    .inputPlaceholderRequiredColor {
        color: #ffdcdc;
        text-shadow: red 1px 0 10px;
    }

    .allInputFields {
        color: #ecfeff;
        font-weight: bold;
        letter-spacing: 0.05rem;
        font-size: clamp(1.2rem, 2.6vh, 1.5rem);

        @apply w-[95%]
        bg-transparent outline-none border-b-[3px] border-slate-400
        inputTextColorEffect
        sm:focus:bg-neutral-700 sm:focus:border-none 
        sm:focus:rounded-md sm:focus:inputTextColorEffect
        
    }

    .firstFourInputs {
        @apply h-[65%] row-span-1 pl-2
        sm:w-[75%] sm:h-[27%] sm:col-span-2 sm:pl-0
        sm:firstFourInputsSizeDesktop sm:focus:pl-2 
    }

    .submitButtonBorderEffect {
        box-shadow: #93f6ff 1px 0 10px 2px, inset #93f6ff 1px 0 8px 1px;
    }

    .submitButtonActiveEffect {
        @apply  
        active:scale-[.80] active:inputTextColorEffect active:border-cyan-50 active:submitButtonBorderEffect
        sm:active:scale-95
    }

    .formSubmitBtn {
        width: clamp(140px, 13vmax, 200px);
        height: clamp(140px, 13vmax, 200px);
        font-size: clamp(1.65rem, 2.5vw, 2.3rem);

        @apply bg-gray-400 bg-opacity-10 text-cyan-50
        border-t-[1px] border-r-[1px] border-l-[1px] border-b-[6px] rounded-md
    }

    .formLegendWrapper {
        width: clamp(186px, 20%, 267px);
        font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    }



    /* MyWork - Projects and Demos */

    .projectContainer {
        width: clamp( 855px, 90%, 1641px);
    }

    .projectImageContainer {
        width: clamp(400px, 25%, 547px);
        aspect-ratio: auto;
    }


    .repoAndSiteLinks {
        width: clamp(310px, 45%, 400px);
    }

}